Source: salt-formula-reclass
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-reclass
Vcs-Git: https://github.com/tcpcloud/salt-formula-reclass.git

Package: salt-formula-reclass
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Reclass salt formula
 Configure Reclass hierarchical data storage.
