{%- set storage = salt['grains.filter_by']({
    'Debian': {
        'base_dir': '/etc/reclass/base',
        'pkgs': ['reclass', 'python-reclass'],
        'data_source': {
            'engine': 'local'
        },
        'storage_type': 'yaml_fs',
        'repeat_replace_symbol': '<<count>>',
        'version': '1.4.1',
        'class_mappings':  {},
        'ignore_class_notfound': False,
        'propagate_pillar_data_to_reclass': False
    },
    'RedHat': {
        'base_dir': '/etc/reclass/base',
        'pkgs': ['reclass', 'python-reclass'],
        'data_source': {
            'engine': 'local'
        },
        'storage_type': 'yaml_fs',
        'repeat_replace_symbol': '<<count>>',
        'version': '1.4.1',
        'class_mappings':  {},
        'ignore_class_notfound': False,
        'propagate_pillar_data_to_reclass': False
    },
}, grain='os_family', merge=salt['pillar.get']('reclass:storage')) %}
